body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke
    
    
}
  
.topnav {
    overflow: hidden;
    background-color: white;
    
}
  
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: white;
    color: black;
}
  
.topnav a.active {
    background-color: whitesmoke;
    color: black;
}

.titles{
    text-align: center;
}

form{
    padding-left: 20px;
    
}

input, textarea{
    border: 1px solid black;
    border-radius:5px;
    text-align: left;
    padding-left: 8px;
    width: 20%;
    padding-top: 7px;
    padding-bottom: 7px;
    
}
button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-weight: bolder;
}
.container{
    height: auto;
    width: 1300vw;
    background-color: white;
    margin: auto;
    width: 50%;
    margin-top: 50px;
    

}
img{
    margin-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.sclogo{
    color: black;
    text-align: center;
    font-weight: bolder;
}

details{
    text-align: left;
    margin-left: 50px;
   
}
.specs{
    text-align: left;
    margin-left: 50px;
}

.abtus{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    
    height: auto;
    width: 70%;
    background-color: white;
    margin: auto;
}
.abtustitle{
    margin-top: 35px;
    padding-top: 20px;
}
